* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;


}

img {
  max-width: 100%;
  height: auto; /* Permite que la altura se ajuste automáticamente */
}